* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/white-nothing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
}

main {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0) 95%);
}

.container {
    margin-right: 30px;
    margin-bottom: 50px;
    width: 400px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 0px 0px 5px black;
}

footer {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/dark-nothing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}